div {
  float: left;
}
img {
  width: 720px;
  height: 650px;
}

.container {
  float: none;
  width: 1200px;
  margin: 0 auto;
}

.uno {
  width: 1200px;
  background-color: purple;
  color: white;
  margin-bottom: 10px;
  height: 80px;
  text-align: center;
  font-size: 25px;
}

.dos {
  width: 200px;
  margin-right: 20px;
}

.tres {
  width: 720px;
  height: 670px;
}

.cuatro {
  width: 200px;
  margin-left: 20px;
}

.cinco {
  width: 1200px;
  height: 50px;
  background-color: purple;
  color: white;
  text-align: center;
}
