div {
  position: relative;
}
.ovalo {
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background: #FCD7C1;
}

.uno {
  left: 750px;
  top: 150px;
}

.dos {
  transform: rotate(75deg);
  left: 870px;
  top: 150px;
}

.tres {
  transform: rotate(-75deg);
  left: 620px;
  top: 60px;
}

.cuatro {
  transform: rotate(-115deg);
  left: 635px;
  top: 130px;
}

.cinco {
  transform: rotate(115deg);
  left: 850px;
  top: 30px;
}

.barbilla {
  width: 130px;
  height: 150px;
  border-radius: 60%;
  background: #FCD7C1;
  left: 805px;
  top: -20px;
}

.cara {
  width: 250px;
  height: 300px;
  background: #FCD7C1;
  left: 760px;
  top: -430px;
}

.ojo {
  height: 65px;
  width: 75px;
  margin: auto;
  background: #fff;
  transform: rotate(40deg);
  border-radius: 95% 0;
  position: relative;
  z-index: 2;
}

.izq {
  top: -640px;
  left: -300px;
}

.der {
  top: -705px;
  left: -120px;
}

.ojo:before {
  content: '';
  display: block;
  background: #2d572c;
  width: 42px;
  height: 42px;
  position: relative;
  transform: translate(3em, 3em);
  border-radius: 50%;
  top: -37px;
  left: -31px;
}

.ojo:after {
  content: '';
  display: block;
  background: #222;
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(4.75em, 4.75em);
  border-radius: 50%;
  top: -56px;
  left: -51px;
}

.perilla {
  height: 60px;
  width: 190px;
  background: #633;
  border-radius: 50% / 100% 100% 0 0;
  transform: rotate(180deg);
  left: 774px;
  top: -500px;
}

 .circulo {
   height: 200px;
   width: 220px;
   border-radius: 50%;
   background: #FCD7C1;

   left: 759px;
   top: -712px;
}

.labio {
  height: 75px;
  width: 75px;
  margin: auto;
  background: #FDBCB4;
  transform: rotate(45deg);
  border-radius: 95% 0;
  left: -210px;
  top: -850px;
}

.rombo {
  width: 50px;
  height: 50px;
  background: #FCD7C1;
  transform: rotate(45deg);
  left: 850px;
  top: -963px;
}

hr {
  background-color: red;
  height: 1px;
  width: 103px;
  position: relative;
  top: -946px;
  left: -210px;
}

.pestana {
  height: 72px;
  width: 72px;
  background: black;
  transform: rotate(45deg);
  border-radius: 95% 0;
}
.izqu {
  left: 748px;
  top: -1182px;
  position: relative;
}

.dere {
  left: 928px;
  top: -1254px;
  position: relative;
}

.blanco{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  z-index: 3;
}

.one {
  left: 770px;
  top: -1300px;
}

.two {
  left: 950px;
  top: -1310px;
}

.oreja {
  height: 130px;
  width: 75px;
  margin: auto;
  background: #FBD1B9;
  border-radius: 50%;
  position: relative;
}

.x {
  top: -1300px;
  transform: rotate(10deg);
  left: -50px;
  z-index: -1;
  position: relative;
}

.y {
  top: -1428px;
  transform: rotate(-10deg);
  left: -384px;
  z-index: -1;
  position: relative;
}

.gorra {
  height: 200px;
  width: 325px;
  background: black;
  left: 710px;
  top: -1852px;
  border-radius: 50% 50% 0 0;
  z-index: 0;
}

.gorra1 {
  height: 50px;
  width: 80px;
  background: #633;
  left: 835px;
  top: -1930px;
  border-radius: 50% 50% 0 0;
  z-index: 5;
}

.gred {
  height: 30px;
  width: 40px;
  background: black;
  left: 855px;
  top: -2115px;
  border-radius: 50%;
}

.pendiente1 {
  width: 10px;
  height: 20px;
  background: black;
  left: 1040px;
  top: -1730px;
  border-radius: 5% 5% 25% 25%;
}

.pendiente2 {
  width: 10px;
  height: 20px;
  background: black;
  left: 685px;
  top: -1745px;
  border-radius: 5% 5% 25% 25%;
}
.bolita {
  width: 5px;
  height: 5px;
  background: black;
  left: 687px;
  top: -1745px;
  border-radius: 50%;
}
.cruzv {
  width: 5px;
  height: 25px;
  background: black;
  left: 687px;
  top: -1745px;
}

.cruzh {
  width: 15px;
  height: 5px;
  background: black;
  left: 682px;
  top: -1765px;
}

.luna1 {
  height: 80px;
  width: 15px;
  box-shadow: 2px 0px 0 #F7C6AA;
  border-radius: 50%;
  margin-left: 830px;
  margin-top: -1895px;
}

.luna2 {
  height: 80px;
  width: 20px;
  box-shadow: -2px 0px 0 #F7C6AA;
  border-radius: 50%;
  margin-left: 900px;
  margin-top: -80px;
}

.luna3 {
  height: 20px;
  width: 10px;
  box-shadow: -2px 0px 0 #F7C6AA;
  border-radius: 50%;
  margin-left: 832px;
  margin-top: 4px;
}

.luna4 {
  height: 10px;
  width: 20px;
  box-shadow: 0px -2px 0 #F7C6AA;
  border-radius: 50%;
  margin-left: 844px;
  margin-top: -5px;
}

.luna5 {
  height: 10px;
  width: 20px;
  box-shadow: 0px 2px 0 #F7C6AA;
  border-radius: 50%;
  margin-top: -14px;
  margin-left: 864px;
}

.luna6 {
  height: 10px;
  width: 20px;
  box-shadow: 0px -2px 0 #F7C6AA;
  border-radius: 50%;
  margin-left: 884px;
  margin-top: -6px;
}

.luna7 {
  height: 20px;
  width: 10px;
  box-shadow: 2px 0px 0 #F7C6AA;
  border-radius: 50%;
  margin-left: 905px;
  margin-top: -25px;
}
